:root {
  --fs-700: clamp(1.8rem, 1.5vh + 1.5rem, 2.2rem);
  --fs-100: clamp(1.3rem, 2vh + 2rem, 1.7rem);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Custom Properties */

html {
  font-size: 62.5%;
}

* {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(210, 46%, 95%);
  padding: 70px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 600px;
  background-color: white;
  overflow: hidden;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
  max-height: 500px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: hsl(217, 19%, 35%);
}

p {
  font-size: 1.2rem;
}

.drawer-image-container {
  background-image: url("images/drawers.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

section {
  display: grid;
  grid-template-columns: 1fr;
}

summary {
  padding: 25px;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  align-items: center;
  padding: 0px 20px;
  height: 80px;
  /**/
}

.profile-container-active {
  background-color: hsl(217, 19%, 35%);
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-info img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.share-info {
  display: none;
  gap: 15px;
  align-items: center;
}

.share-text {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: hsl(212, 23%, 69%);
}

.share-button {
  width: 35px;
  height: 35px;
  border: none;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-position: 50%;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6e8098;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.share-button-active {
  color: white;
  background-color: hsl(214, 17%, 51%);
}

.desc {
  color: hsl(214, 17%, 51%);
}

.author-name {
  color: hsl(217, 19%, 35%);
  font-weight: bold;
}

.author-date {
  color: hsl(212, 23%, 69%);
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

@media (min-width: 769px) {
  main {
    display: flex;
    overflow: visible;
  }
  .drawer-image-container {
    width: 100%;
    background-size: 150%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .profile-container {
    position: relative;
  }
  .share-info {
    position: absolute;
    right: -15%;
    bottom: 95%;
    background-color: hsl(217, 19%, 35%);
    padding: 10px 20px;
    border-radius: 10px;
  }
  .share-button:hover {
    background-color: hsl(214, 17%, 51%);
    color: white;
  }
  .effect {
    position: absolute;
    height: 15px;
    width: 15px;
    bottom: -20%;
    left: 50%;
    rotate: 45deg;
    background-color: hsl(217, 19%, 35%);
  }
}
